.FlipContainer {
    height: 90px;
    width: 90px;
    perspective: 1000px;
}

.Flipper{
    position: relative;
    height: 90px;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 50%;
}

.FlipperClicked {
    transform: rotateY(0deg);
    transition: transform 0.8s;
}

.CardBack, .CardFront {
    position: absolute;
    width: 100%;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
    
}

.CardFront {
    background-color: rgb(2, 15, 53);
    font-size: 8px;
    color: white;
    text-shadow: 1px 1px 1px grey;
    letter-spacing: 2px;
    z-index: 2;
    transform: rotateY(180deg);
}

.CardTheme {
    font-size: 150%;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Gamja Flower', cursive;
}

.CardBack > h1 {
    transform: none;
}

.CardBack {
    transform: rotateY(0deg);
}

.CardImage {
    height: 50px;
    width: auto;
}

@media (max-height: 568px) {
    .FlipContainer {
        height: 80px;
        width: 80px;
    }
    .Flipper{
        height: 80px;
    }
    .CardBack, .CardFront {
        height: 80px;
    }
}

@media (min-width: 768px) {
    .FlipContainer {
        height: 125px;
        width: 125px;
    }
    .Flipper, .CardBack, .CardFront {
        height: 125px;
    }
    .CardTheme {
        font-size: 300%;
    }
    .CardImage {
        height: 75px;
    }
}