.GameHomePage {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 5vh;
}

.GameFilterContainer {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 300px;
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 5px 30px;
}
.StartGameButton {
    position: absolute;
    bottom: 15vh;
    transform: translateX(-50%);
}