.MG-filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.MG-filter > p {
    width: 40%;
    font-size: 1.1em;
    font-variant: small-caps;
    text-align: left;
    margin-right: 2em;
  }
  
#board-size, #theme {
    height: 30px;  
    width: 100px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid darkslategray;
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    margin-top: -10px;
}

footer.copyright {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  color: rgb(104, 102, 102);
}

@media (max-height: 568px) {
  .MG-filter > p {
    font-size: 1em;
  }
}

@media (min-height: 768px) {
  .MG-filter > p {
    font-size: 1.25em;
  }
}

@media (min-height: 768px) {
  .MG-filter > p {
    font-size: 1.5em;
  }
  #board-size, #theme {
    font-size: 1.1em;
  }
}
