.GameOverScreen {
    height: 45vh;
    width: 65vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GameOverText {
    font-size: 175%;
    margin-bottom: 1.5em;
}
.GameOverText:last-child {
    font-size: 125%;
    line-height: 175%;
}

.GameOverScreen > button {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .GameOverText {
        font-size: 250%;
    }
    .GameOverText:last-child {
        font-size: 175%;
    }
}

@media (min-width: 1000px) {
    .GameOverText {
        font-size: 300%;
    }
    .GameOverText:last-child {
        font-size: 225%;
    }
}